@import '../../../../../theme/variables';

.-custom-url-icon {
  color: $red;
  cursor: default;
  font-size: 14px;
  position: relative;
  top: 3px;
}

.-text-right {
  text-align: right;
}

.-link {
  color: $blue;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
