<app-modal [headline]="'wallet.unlock.unlock-title' | translate" [dialog]="dialogRef" [loadingProgress]="loadingProgress">
  <div [formGroup]="form">
    <div class="form-field">
      <label for="seed">{{ 'wallet.unlock.seed' | translate }}</label>
      <textarea formControlName="seed" id="seed" row="2"></textarea>
    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="closePopup()">
      {{ 'wallet.unlock.cancel-button' | translate }}
    </app-button>
    <app-button #unlock (action)="unlockWallet()" class="primary" [disabled]="!form.valid">
      {{ 'wallet.unlock.unlock-button' | translate }}
    </app-button>
  </div>
</app-modal>
