@import '../../../../../theme/_variables.scss';

.alert-box {
  margin-bottom: 20px;
  display: block;

  .title {
    font-size: 19px;
    margin-bottom: 10px;
    color: $red;
    line-height: 1.3;
  }
}