<app-modal title="unlockWallet.unlockWallet" [dialog]="dialogRef">
  <div [formGroup]="form">
    <div class="form-field">
      <label for="seed">{{ 'general.seed' | translate }}</label>
      <textarea formControlName="seed" id="seed" row="2"></textarea>
    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="closePopup()">
      {{ 'buttons.cancel' | translate }}
    </app-button>
    <app-button #unlock (action)="unlockWallet()" class="primary" [disabled]="!form.valid">
      {{ 'buttons.unlock' | translate }}
    </app-button>
  </div>
</app-modal>
