.-header {
  background-color: #f7f7f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 50px;
  position: relative;
  text-align: center;

  img {
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 9px;
    top: 9px;
  }
}

.-body {
  background-color: #fbfbfb;
  padding: 30px;
}

mat-progress-bar {
  height: 3px;
}

.progress-bar-panel {
  background-color: #f7f7f7;
  height: 3px;
}
