<mat-card>
  <mat-card-title>Block {{ block && block.header ? block.header.seq : '..' }} <app-back-button></app-back-button></mat-card-title>
  <mat-card class="skycoin-details">
    <div class="skycoin-detail-keys">
      ID: <br>
      Timestamp: <br>
      Hash: <br>
      Parent hash: <br>
      Transactions: <br>
      Total value: <br>
    </div>
    <div class="skycoin-detail-values" *ngIf="block">
      {{ block && block.header ? block.header.seq : '' }} <br>
      {{ block.header.timestamp | dateTime }} <br>
      {{ block && block.header ? block.header.block_hash : '' }} <br>
      {{ block && block.header ? block.header.previous_block_hash : '' }} <br>
      {{ block && block.body && block.body.txns ? block.body.txns.length : '' }} <br>
      {{ block.body.txns | transactionsAmount }}
    </div>
  </mat-card>

  <h3>Transactions</h3>
  <div *ngIf="block && block.body && block.body.txns">
    <mat-expansion-panel *ngFor="let transaction of block.body.txns">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ transaction.txid }}
        </mat-panel-title>
        <mat-panel-description>
          {{ block.header.timestamp | dateTime }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list *ngIf="transaction">
        <h3 mat-subheader>Inputs</h3>
        <mat-list-item *ngFor="let input of transaction.inputs">
          <h4 mat-line>{{ input }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Outputs</h3>
        <mat-list-item *ngFor="let output of transaction.outputs">
          <h4 mat-line>{{ output.dst }} ({{ output.coins }} SKY)</h4>
        </mat-list-item>
      </mat-list>
      <div class="button-line">
        <a mat-raised-button color="primary" [routerLink]="['/explorer/transaction/', transaction.txid]">Details</a>
      </div>
    </mat-expansion-panel>
  </div>
</mat-card>

