<div class="sky-container sky-container-grey">
  <app-header title="Outputs"></app-header>
  <div class="container">
    <div class="-table">
      <div class="-headers">
        <div class="flex-fill">Address</div>
        <div class="-width-150">SKY Hours</div>
        <div class="-width-150">Balance</div>
      </div>
      <div class="-output" *ngFor="let output of outputs">
        <div class="flex-fill -address">
          <img src="../../../../../assets/img/qr-code-black.png"  (click)="showQr(output.address)" >
          <p>{{ output.address }}</p>
        </div>
        <div class="-width-150 -hours">{{ (output.hours ? output.hours : 0) | number:'1.0-6' }}</div>
        <div class="-width-150 -coins">{{ (output.coins ? output.coins : 0) | number:'1.0-6' }}</div>
      </div>
    </div>
  </div>
</div>
