<div class="sky-container sky-container-grey">
  <app-header [headline]="'title.outputs' | translate"></app-header>
  <div class="container">
    <div class="-wallet" *ngFor="let wallet of wallets">
      <div class="-wallet-label">{{ wallet.label }}</div>
      <div class="-wallet-address" *ngFor="let address of wallet.addresses">
        <div class="-table">
          <div class="-headers">
            <div> {{ address.address }} </div>
          </div>
          <div class="-output" *ngFor="let output of address.outputs">
            <div class="-hash">{{ output.hash }}</div>
            <div class="-balance">
              <div class="-item">
                <span>{{ 'common.coin-id' | translate }}:</span>
                {{ output.coins | number:'1.0-6' }}</div>
              <div class="-item">
                <span>{{ 'common.hours' | translate }}:</span>
                {{ (output.calculated_hours ? output.calculated_hours : 0) }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
