@import '../../../../../theme/_variables.scss';

.-width-150 {
  width: 150px;
}

.-wallet-label {
  font-weight: 400;
  margin: 20px 0 5px 40px;
}

.-headers {
  border-bottom: 1px solid #eff0f0;
  color: rgba(30, 34, 39, 0.2);
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.-table {
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  margin: 0 30px;
}

.-output {
  background-color: $white;
  border-bottom: 1px solid #eff0f0;
  display: flex;
  font-size: $font-size-standard;
  line-height: $row-height;
  height: $row-height;
  padding-left: 20px;

  &:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .-address {
    color: rgba(30, 34, 39, 0.6);
    flex: 1 1 auto;

    img {
      display: inline-block;
      height: 17px;
      vertical-align: middle;
      width: 17px;
    }

    p {
      display: inline-block;
      line-height: $row-height;
      margin: 0;
      vertical-align: middle;
    }

    &:hover .copy-label {
      display: inline-block;
    }
  }

  .-coins {
    color: black;
  }

  .-hours {
    color: rgba(30, 34, 39, 0.5);
  }
}

.click-to-copy {
  cursor: pointer;
}

.copy-label {
  color: #0072ff;
  display: none;
  font-size: 12px;
  line-height: 100%;
  position: relative;
  opacity: .999;
  transition: opacity .2s ease-in-out;
  top: -1px;
  padding-left: 10px;

  &.hidden{
    opacity: .001;
  }

  &::after {
    content: attr(data-label);
    color: #0072ff;
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 50%;
    opacity: .001;
    text-align: center;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    -webkit-backface-visibility: hidden;
    white-space: nowrap;
    padding-left: 11px;
  }
}

.copying .copy-label::after {
  -webkit-animation: floatup .5s ease-in-out;
  animation: floatup .5s ease-in-out;
}
