@import '../../../../../theme/_variables.scss';

.-width-150 {
  width: 150px;
}

h3 {
  font-size: 12px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
}

.-headers {
  border-bottom: 1px solid #eff0f0;
  color: rgba(30, 34, 39, 0.2);
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}

.-table {
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  margin: 30px 30px 0 30px;
}

.-output {
  background-color: $white;
  border-bottom: 1px solid #eff0f0;
  display: flex;
  font-size: $font-size-standard;
  line-height: $row-height;
  height: $row-height;
  padding-left: 20px;

  &:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .-address {
    color: rgba(30, 34, 39, 0.6);
    flex: 1 1 auto;

    img {
      display: inline-block;
      height: 17px;
      vertical-align: middle;
      width: 17px;
    }

    p {
      display: inline-block;
      line-height: $row-height;
      margin: 0;
      vertical-align: middle;
    }
  }

  .-coins {
    color: black;
  }

  .-hours {
    color: rgba(30, 34, 39, 0.5);
  }
}
