@import '../../../../../theme/_variables.scss';

.-text-right {
  text-align: right;
}

.-grey {
  color: $grey-dark;
}

.-row.-small {
  height: $row-height / 1.5;
  line-height: $row-height / 1.5;
}

.-hash {
  margin-left: 27px;
  word-break: break-all;
}

.-address {
  color: $grey-dark;

  img {
    width: 17px;
    vertical-align: sub;
    margin-right: 10px;
    cursor: pointer;
  }
}

.-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}