.-buttons {
  text-align: center;
}

.-valid-box{
  display: flex;

  .-valid{
    bottom: -6px;
    left: -7px;
    position: relative;
    align-self: flex-end;
    display: none;
  }
}

.-valid-seed-container.-expand{
  margin-right: -14px;
  .-valid{
    display: block;
  }
}

