<div class="sky-container sky-container-grey">
  <app-header [headline]="'title.blockchain'"></app-header>
  <div class="container">
    <div class="-paper">
      <div class="-keys">
        {{ 'blockchain.blocks' | translate}} <br>
        {{ 'blockchain.time' | translate}} <br>
        {{ 'blockchain.hash' | translate}} <br>
      </div>
      <div class="-values" *ngIf="block && block.header">
        {{ block.header.seq }} <br>
        {{ block.header.timestamp | dateFromNow }} <br>
        {{ block.header.block_hash }}
      </div>
    </div>
  </div>
</div>

<!--<div class="sky-container sky-container-grey">-->
  <!--<app-header title="Blockchain"></app-header>-->
  <!--<mat-card>-->
    <!--<mat-card-title>Blockchain</mat-card-title>-->
    <!--<mat-card class="skycoin-details">-->
      <!---->
    <!--</mat-card>-->
  <!--</mat-card>-->
<!--</div>-->
