@import '../../../../../theme/variables';

.-wrapper {
  margin: 30px;
}

.-paper {
  padding: 20px;
  font-size: $font-size-standard;
  margin: 0px;
}

.-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .-key {
    color: $grey;
    margin-bottom: 5px;
  }

  .-value {
    word-break: break-all;
  }
}
