.disclaimer-warning {
  text-align: center;
  padding: 12px;
  background-color: #f1ce77;
}

.disclaimer-warning a {
  cursor: pointer;
  font-size: 10px;
  padding-top: 4px;
  float: right;
  margin-left: -100%;
}
