@import '../../../../theme/_variables.scss';

.-width-150 {
  width: 150px;
}

.-width-250 {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.-headers {
  color: rgba(30, 34, 39, 0.2);
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  padding: 0 130px 0 50px;
}

.-wallets {
  margin: 0 30px;
}

.-body {
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  background: #fafafa;
}

.-wallet {
  border-bottom: 1px solid #eff0f0;
  display: flex;
  font-size: $font-size-standard;
  line-height: $row-height;
  height: $row-height;
  padding-left: 20px;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .-label {
    color: black;
    font-weight: 700;
  }

  .-hours {
    color: rgba(30, 34, 39, 0.5);
    text-align: right;
  }

  .-coins {
    color: black;
    text-align: right;
  }

  .-encryption img {
    border-radius: 50%;
    background-color: #f7f7f7;
    display: inline-block;
    height: 38px;
    margin: 11px 0;
    padding: 3px;
    width: 38px;
    cursor: pointer;
  }

  .-expand{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85px;
    margin-right: 15px;

    img {
      width: $row-detail-size;
      height: $row-detail-size;
    }
  }
}

.action-buttons {
  padding: 40px 0 40px;
  text-align: center;

  button {
    background-color: $grey-light;
    border: none;
    box-shadow: none;
    color: $grey-dark;
    font-size: 13px;
    margin: 0 5px;
    min-width: 140px;

    img {
      height: 28px;
      margin-left: -4px;
      width: 28px;
    }
  }
}

span {
  display: inline-block;
  width: 50%;
}

.-align-right {
  text-align: right;
}
