<div class="sky-container sky-container-grey">
<app-header title="Wallets"></app-header>
<md-expansion-panel *ngFor="let wallet of walletService.all() | async">  <md-expansion-panel-header>
    <md-panel-title>
      <i class="fa fa-lock" *ngIf="!wallet.seed"></i>
      <i class="fa fa-unlock" *ngIf="wallet.seed"></i>
      {{ wallet.label }}
    </md-panel-title>
    <md-panel-description>
      <span>{{ wallet.balance ? wallet.balance : 0 }} Sky</span> <span>{{ wallet.hours ? wallet.hours : 0 }} Coin Hours</span>
    </md-panel-description>
  </md-expansion-panel-header>
  <app-wallet-detail [wallet]="wallet"></app-wallet-detail>
</md-expansion-panel>
<div class="button-line">
  <a md-raised-button color="primary" (click)="addWallet()">Add wallet</a>
</div>
</div>
