<ng-container *ngFor="let address of (wallet ? wallet.addresses : []); let i = index">
  <div class="-record" *ngIf="!wallet.hideEmpty || address.balance">
    <div class="id-column">{{ i + 1 }}</div>
    <div class="address-column">
      <img src="../../../../../assets/img/qr-code-black.png" (click)="showQr(address)" >
      <p class="click-to-copy" [ngClass]="{ copying: address.isCopying }"
        (click)="copyAddress($event, address)" (mouseleave)="address.isCopying = false">
        {{ address.address }} <span data-label="Copied" class="copy-label">Copy</span>
      </p>
    </div>
    <div class="hours-column">{{ address.hours ? address.hours : 0 }}</div>
    <div class="coins-column">{{ (address.balance ? address.balance : 0) | number:'1.0-6' }}</div>
    <div class="options-column">
      <mat-icon [matMenuTriggerFor]="optionsMenu">more_vert</mat-icon>
    </div>
  </div>
  <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false" class="compact">
    <button mat-menu-item (click)="copyAddress($event, address, 1000)">
      {{ address.isCopying ? ('wallet.address.copied' | translate) : 'wallet.address.copy' | translate}}
    </button>
    <button mat-menu-item routerLink="/settings/outputs" [queryParams]="{ addr: address.address }">
      {{ 'wallet.address.outputs' | translate }}
    </button>
  </mat-menu>
</ng-container>
<div class="-actions">
  <div class="-button" (click)="onAddNewAddress()">
    <div class="-btn-plus btn-add-address">
      <img src="../../../../../assets/img/plus-grey.png">
      <span>{{ 'wallet.new-address' | translate }}</span>
    </div>
  </div>
  <div class="-button" (click)="toggleEmpty()">
    <ng-container *ngIf="!wallet.hideEmpty">
      <div class="-btn-minus">
        <img src="../../../../../assets/img/minus-grey.png">
        <span>{{ 'wallet.hide-empty' | translate }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="wallet.hideEmpty">
      <div class="-btn-plus">
        <img src="../../../../../assets/img/plus-grey.png">
        <span>{{ 'wallet.show-empty' | translate }}</span>
      </div>

    </ng-container>
  </div>
  <div class="flex-fill"></div>
  <div class="-button" (click)="editWallet()">
    <div class="-btn-edit">
      <img src="../../../../../assets/img/edit-grey.png">
      <span>{{ 'wallet.edit' | translate }}</span>
    </div>
  </div>
  <div class="-button" (click)="deleteWallet()">
    <div class="-btn-minus">
      <img src="../../../../../assets/img/minus-grey.png">
      <span>Delete Wallet</span>
    </div>
  </div>
</div>
