<ng-container *ngFor="let address of (wallet ? wallet.addresses : []); let i = index">
  <div class="-record" *ngIf="!wallet.hideEmpty || address.balance">
    <div class="id-column">{{ i + 1 }}</div>
    <div class="address-column">
      <img src="../../../../../assets/img/qr-code-black.png" (click)="showQr(address)" >
      <p class="click-to-copy" [ngClass]="{ copying: address.isCopying }" (click)="copyAddress(address)">
        {{ address.address }} <span data-label="Copied" class="copy-label">Copy</span>
      </p>
    </div>
    <button class="unspent-outputs-column" mat-button
            routerLink="/settings/outputs" [queryParams]="{ addr: address.address }">Unspent Outputs</button>
    <div class="hours-column">{{ address.hours ? address.hours : 0 }}</div>
    <div class="coins-column">{{ (address.balance ? address.balance : 0) | number:'1.0-6' }}</div>
  </div>
</ng-container>
<div class="-actions">
  <div class="-button" (click)="onAddNewAddress()">
    <div class="-btn-plus btn-add-address">
      <img src="../../../../../assets/img/plus-grey.png">
      <span>New Address</span>
    </div>

  </div>
  <div class="-button" (click)="toggleEmpty()">
    <ng-container *ngIf="!wallet.hideEmpty">
      <div class="-btn-minus">
        <img src="../../../../../assets/img/minus-grey.png">
        <span>Hide Empty</span>
      </div>
    </ng-container>
    <ng-container *ngIf="wallet.hideEmpty">
      <div class="-btn-plus">
        <img src="../../../../../assets/img/plus-grey.png">
        <span>Show Empty</span>
      </div>

    </ng-container>
  </div>
  <div class="flex-fill"></div>
  <div class="-button" (click)="editWallet()">
    <div class="-btn-edit">
      <img src="../../../../../assets/img/edit-grey.png">
      <span>Edit Wallet</span>
    </div>
  </div>
</div>
