<mat-card>
  <mat-card-title>Address <app-back-button></app-back-button></mat-card-title>
  <mat-card class="skycoin-details">
    <div class="skycoin-detail-keys">
      ID: <br>
      Transactions: <br>
      Balance: <br>
    </div>
    <div class="skycoin-detail-values" *ngIf="transactions">
      {{ id }} <br>
      {{ transactions.length }} <br>
      {{ transactions | transactionsAmount }}
    </div>
  </mat-card>

  <h3>Transactions</h3>
  <mat-expansion-panel *ngFor="let transaction of transactions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ transaction.txid }}
      </mat-panel-title>
      <mat-panel-description>
        <!--{{ block.header.timestamp | dateTime }}-->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="transaction">
      <h3 mat-subheader>Inputs</h3>
      <mat-list-item *ngFor="let input of transaction.inputs">
        <h4 mat-line>{{ input.owner }}</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Outputs</h3>
      <mat-list-item *ngFor="let output of transaction.outputs">
        <h4 mat-line>{{ output.dst }} ({{ output.coins }} SKY)</h4>
      </mat-list-item>
    </mat-list>
    <div class="button-line">
      <a mat-raised-button color="primary" [routerLink]="['/explorer/transaction/', transaction.txid]">Details</a>
    </div>
  </mat-expansion-panel>
</mat-card>

