// Backgrounds
$gradient-blue-dark: #0072ff;
$gradient-blue-dark-transparent: rgba(0, 114, 255, 0.7);
$gradient-blue-light: #00C3ff;
$gradient-blue-light-transparent: rgba(0, 195, 255, 0.7);

// Colors
$black: #171a1d;

$grey-lightest: #f7f7f7;
$grey-very-light: rgba(30, 34, 39, 0.05);
$grey-light: rgba(30, 34, 39, 0.2);
$grey: rgba(30, 34, 39, 0.5);
$grey-semi-dark: rgba(30, 34, 39, 0.75);
$grey-dark: #1e2227;

$mobile-table-button-normal: rgba(30, 34, 39, 0.035);
$mobile-table-button-hover: rgba(30, 34, 39, 0.05);

$white: #fafafa;
$transparent: rgba(0,0,0,0);

$red: #ff004e;
$blue: #0072ff;
$yellow: #ffc125;

// Grid
$normal-row-detail-size: 32px;
$small-row-detail-size: 24px;

// Texts
$font-size-standard: 13px;

// Responsive design
$max-semi-small-width: 991px;
$max-small-width: 767px;
$max-very-small-width: 479px;

$mobile-nav-bar-height: 56px;

$normal-content-lateral-margin: 30px;
$small-content-lateral-margin: 10px;
$very-small-content-lateral-margin: 0px;
$content-vertical-margin: 30px;