<app-modal [headline]="'title.disclaimer'" [dialog]="dialogRef" [disableDismiss]="true">
  <div>
    <span class="-disclaimer-description">
      {{ 'onboarding.disclaimer.disclaimer-description' | translate }}
    </span>
    <div class="-check-container">
      <mat-checkbox class="-disclaimer-check-text -check" [checked]="acceptTerms" (change)="setAccept($event)"
                   type="checkbox" id="terms">{{ 'onboarding.disclaimer.disclaimer-check' | translate }}
      </mat-checkbox>
    </div>
  </div>
  <div class="-text-center">
    <app-button class="primary -no-bottom-margin" (action)="closePopup()" [disabled]="!acceptTerms">
      {{ 'onboarding.disclaimer.continue-button' | translate }}
    </app-button>
  </div>
</app-modal>
