<app-modal class="modal" [headline]="'title.disclaimer' | translate" [dialog]="dialogRef" [disableDismiss]="true">
  <div class="-body">
    {{ 'onboarding.disclaimer.disclaimer-description' | translate }}
  </div>

  <div class="-check-container">
    <mat-checkbox type="checkbox"
                  class="-check-text -check"
                  id="terms"
                  [checked]="acceptTerms"
                  (change)="setAccept($event)">{{ 'onboarding.disclaimer.disclaimer-check' | translate }}
    </mat-checkbox>
  </div>

  <div class="-buttons">
    <app-button class="primary" (action)="closePopup()" [disabled]="!acceptTerms">
      {{ 'onboarding.disclaimer.continue-button' | translate }}
    </app-button>
  </div>
</app-modal>
