<div class="onboarding-container">
  <app-disclaimer-warning></app-disclaimer-warning>

  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="-header">
        <span>{{ 'wallet.new.create-title' | translate }}</span>
      </div>
      <div class="-description">
        <p>
          {{ 'wizard.wallet-desc' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4 -toggle-container">
      <app-double-button [rightButtonText]="'common.load' | translate"
                         [leftButtonText]="'common.new' | translate"
                         [activeButton]="doubleButtonActive"
                         (onStateChange)="changeForm($event)"></app-double-button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <form [formGroup]="form">
        <div class="form-field">
          <label for="label">{{ 'wallet.new.name-label' | translate }}</label>
          <input formControlName="label" id="label">
        </div>
        <div class="form-field">
          <label for="seed">{{ 'wallet.new.seed-label' | translate }}</label>
          <textarea formControlName="seed" class="form-control" id="seed" rows="2"></textarea>
        </div>
        <div class="form-field" [style.visibility]="showNewForm?'visible':'hidden'">
          <label for="confirm_seed">{{ 'wallet.new.confirm-seed-label' | translate }}</label>
          <textarea formControlName="confirm_seed" class="form-control" id="confirm_seed" rows="2"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row -buttons-footer">
    <app-button class="dark -button-min-margin" [disabled]="!form.valid"
                (action)="showNewForm ? showSafe() : loadWallet()">
      {{ 'wallet.new.create-button' | translate }}
    </app-button>
    <app-button *ngIf="haveWallets"
      class="ghost -button-min-margin" (action)="skip()">
      {{ 'wallet.new.skip-button' | translate }}
    </app-button>
  </div>
</div>
