@import '../../../../../theme/_variables';

.language-button {
  position: fixed;
  right: 30px;
  top: 10px;

  .flag {
    width: 16px;
    height: 16px;
    position: relative;
    top: -3px;
  }
}

.hw-link {
  cursor: pointer;
  color: white;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}

.row-container {
  max-width: 450px;
  width: 80%;
  margin: 0px auto;
}

.-header {
  color: $white;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

.-description {
  line-height: 25px;
  font-size: 14px;
  text-align: center;

  color: $white;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.-buttons-footer {
  text-align: center;
  margin-bottom: 20px;
}

.-toggle-container {
  margin: 10px auto !important;
}

:host ::ng-deep .-buttons-footer button {
  margin: 2px 10px !important;
}
