<app-modal [headline]="headerText" [dialog]="dialogRef">
  <div class="-body">
    {{data.text}}
  </div>

  <div class="-check-container">
    <mat-checkbox *ngIf="data.displayCheckbox"
                  type="checkbox"
                  class="-disclaimer-check-text -check"
                  id="terms"
                  [checked]="acceptDeletion"
                  (change)="setAccept($event)">{{ data.checkboxText }}
    </mat-checkbox>
  </div>

  <div class="-buttons">
    <app-button (action)="closeModal(false)">
      {{ cancelButtonText }}
    </app-button>
    <app-button (action)="closeModal(true)" class="primary" [disabled]="data.displayCheckbox && !acceptDeletion">
      {{ confirmButtonText }}
    </app-button>
  </div>
</app-modal>
