<div class="sky-container sky-container-grey">
  <app-header title="Transaction"></app-header>
<mat-card>
  <mat-card-title>Transaction <app-back-button></app-back-button></mat-card-title>
  <mat-card class="skycoin-details">
    <div class="skycoin-detail-keys">
      ID: <br>
      Timestamp: <br>
      Block: <br>
      Confirmed: <br>
      Total value: <br>
    </div>
    <div class="skycoin-detail-values">
      {{ transaction && transaction.txn ? transaction.txn.txid : ''}} <br>
      {{ transaction && transaction.txn ? transaction.txn.timestamp : ''}} <br>
      {{ transaction && transaction.txn ? transaction.status.block_seq : ''}}<br>
      {{ transaction && transaction.status ? (transaction.status.confirmed ? 'True' : 'False') : ''}} <br>
      {{ total }}
    </div>
  </mat-card>

  <mat-list *ngIf="transaction && transaction.txn">
    <h3 mat-subheader>Inputs</h3>
    <mat-list-item *ngFor="let input of transaction.txn.inputs">
      <h4 mat-line><button mat-button [routerLink]="['/explorer/address/', input]">{{ input }}</button></h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Outputs</h3>
    <mat-list-item *ngFor="let output of transaction.txn.outputs">
      <h4 mat-line><button mat-button [routerLink]="['/explorer/address/', output.dst]">{{ output.dst }} ({{ output.coins }} SKY)</button></h4>
    </mat-list-item>
  </mat-list>
</mat-card>
</div>
