<div [formGroup]="form">
  <div class="form-field">
    <label for="wallet">{{ 'send.from-label' | translate }}</label>
    <select formControlName="wallet" id="wallet">
      <option value="" selected>{{ 'send.select-wallet' | translate }}</option>
      <option *ngFor="let wallet of wallets"
              [disabled]="!wallet.balance || wallet.balance <= 0"
              [ngValue]="wallet">
        {{ wallet.label }} — {{ wallet.balance | number:'1.0-6' }} SKY
      </option>
    </select>
  </div>

  <div class="form-field">
    <label for="address">{{ 'send.to-label' | translate }}</label>
    <input formControlName="address" id="address" placeholder="Recipient address">
  </div>
  <div class="form-field">
    <label for="amount">{{ 'send.amount-label' | translate }}</label>
    <input formControlName="amount" id="amount" placeholder="SKY" type="number">
  </div>

  <div class="-buttons">
    <app-button #button (action)="onVerify()" class="primary" [disabled]="!form.valid">{{ 'send.verify-button' | translate }}</app-button>
  </div>
</div>
