<div class="sky-container sky-container-grey">
  <app-header title="Settings"></app-header>
  <div class="container">
    <div class="-paper">
        <div class="-row row no-gutters">
          <div class="-key col-sm-8 col-10 col-lg-4">
            <span>Setting</span>
            <span class="-key-detail">Curabitur auctor, odio sit amet dictum sollicitudin, semper sit amet sapien.</span>
          </div>
          <div class="-values col-sm-4 col-2 col-lg-2">
            <md-checkbox class="-check" checked="true"></md-checkbox>
          </div>
        </div>
        <div class="-row row no-gutters">
          <div class="-key col-sm-8 col-10 col-lg-4">Another setting</div>
          <div class="-values col-sm-4 col-2 col-lg-2">
            <md-checkbox class="-check"></md-checkbox>
          </div>
        </div>
        <div class="-row row no-gutters">
          <div class="-key col-sm-8 col-10 col-lg-4">Dark mode</div>
          <div class="-values col-sm-4 col-2 col-lg-2">
            <md-checkbox class="-check"></md-checkbox>
          </div>
        </div>

      <app-button class="primary">
        Save
      </app-button>
    </div>
  </div>
</div>
