@import '../../../../theme/_variables.scss';

.-paper {
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.01), 1px 1px 2px 2px rgba(0, 0, 0, 0.01);
  padding: 30px;
  margin-top: 30px;
}
  .-row {
    border-top: 1px solid #eff0f0;
    color: #1e2227;
    display: flex;
    font-size: 12px;
    line-height: 14px;
    padding: 13px 0px 10px;

    &:first-child{
      border-top: unset;
    }
    .-key {
      opacity: 0.5;
      text-align: left;
      font-family: Skycoin;
      line-height: normal;
      font-size: 13px;
      color: #1E2227;
      display: flex;
      flex-direction: column;
      padding-right: 3px;

      .-key-detail{
        font-family: Skycoin;
        line-height: 20px;
        font-size: 12px;
        color: rgba(30, 34, 39, 0.5);
        mix-blend-mode: normal;
        opacity: 0.8;
      }
    }

    .-values {
      flex: 1;
      text-align: left;

      span {
        display: block;
      }
    }
  }


.-check ::ng-deep {
  .mat-checkbox-checkmark-path {
    position: absolute;
    width: 18px;
    height: 8px;
    left: 4.59px;
    top: 9px;
    stroke: #0072FF !important;
  }

  .mat-checkbox-background, .mat-checkbox-frame {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background: rgba(30, 34, 39, 0.05);
    border-radius: 6px;
    border-color: transparent;
  }
}
