<div class="sky-container sky-container-grey">
  <app-header [headline]="'Pending Transactions'"></app-header>
  <div class="container">
    <div class="-table">
      <div class="-headers">
        <div class="-width-150">Timestamp</div>
        <div class="-width-150">Amount</div>
        <div class="flex-fill">Transaction ID</div>
      </div>
      <div class="-transaction" *ngFor="let transaction of transactions">
        <div class="-width-150 -timestamp">
          <strong>{{ transaction.timestamp | dateTime }}</strong>
        </div>
        <div class="-width-150 -amount">{{ (transaction.amount ? transaction.amount : 0) | number:'1.0-6' }}</div>
        <div class="flex-fill -txid">{{ transaction.txid }}</div>
      </div>
    </div>
  </div>
</div>
