<div class="sky-container sky-container-grey">
  <app-header [headline]="'title.pending-txs'"></app-header>
  <div class="container">
    <div class="-table">
      <div class="-headers">
        <div class="-width-150">{{ 'pending-txs.timestamp' | translate }}</div>
        <div class="-width-150">{{ 'pending-txs.amount' | translate }}</div>
        <div class="flex-fill">{{ 'pending-txs.txid' | translate }}</div>
      </div>
      <div class="-transaction" *ngFor="let transaction of transactions">
        <div class="-width-150 -timestamp">
          <strong>{{ transaction.timestamp | dateTime }}</strong>
        </div>
        <div class="-width-150 -amount">{{ (transaction.amount ? transaction.amount : 0) | number:'1.0-6' }}</div>
        <div class="flex-fill -txid">{{ transaction.txid }}</div>
      </div>
    </div>
  </div>
</div>
