<div class="sky-container sky-container-grey">
  <app-header [headline]="'title.pending-txs' | translate"></app-header>
  <div class="container">
    <app-loading-content
      [isLoading]="isLoading && !showError"
      [showError]="showError"
      [noDataText]="'pending-txs.none'"
      *ngIf="isLoading || transactions.length === 0"></app-loading-content>
    <div *ngIf="!!transactions && transactions.length > 0" class="-table">
      <div class="-headers">
        <div class="flex-fill">{{ 'pending-txs.txid' | translate }}</div>
        <div class="-width-150">{{ 'pending-txs.timestamp' | translate }}</div>
        <div class="-width-150 -coins">{{ currentCoin.coinSymbol }}</div>
      </div>
      <div class="-paper">
        <ng-container *ngIf="transactions.length">
          <div class="-row" *ngFor="let transaction of transactions">
            <div class="flex-fill -txid">{{ transaction.txid }}</div>
            <div class="-width-150">{{ transaction.timestamp | dateTime }}</div>
            <div class="-width-150 -coins">{{ (transaction.amount ? transaction.amount.decimalPlaces(6).toString() : 0) | number:'1.0-6' }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
