.content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  mat-spinner {
    margin: 0;
  }

  i {
    color: #eaeaea;
    font-size: 50px;
  }

  p {
    margin-top: 5px;
    font-size: 14px;
    color: #a9aaac;
  }
}
