<app-modal class="modal -title" [headline]="'wizard.confirm.title' | translate" [dialog]="dialogRef">
  <div class="-body">
    {{ 'wizard.confirm.desc' | translate }}
  </div>

  <div class="-check-container">
    <mat-checkbox type="checkbox"
                  class="-check-text -check"
                  id="terms"
                  [checked]="acceptSafe"
                  (change)="setAccept($event)">{{ 'wizard.confirm.checkbox' | translate }}
    </mat-checkbox>
  </div>

  <div class="-buttons">
    <app-button class="primary" (action)="closePopup()" [disabled]="!acceptSafe">
      {{ 'wizard.confirm.button' | translate }}
    </app-button>
  </div>
</app-modal>
