@import '../../../../../theme/variables';

:host {
  display: flex;
  color: $white;
  width: 100%;
  height: 50px;
}

.buttons-left {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  width: 230px;
}

.last-updated-time {
  opacity: 0.9;
  font-size: 11px;
  padding-left: 5px;
  margin-top: 10px;

  .label {
    opacity: 0.7;
  }
}

.title {
  font-size: $font-size-standard;
  font-weight: 700;
  display: inline;
  flex: 1 1 auto;
  letter-spacing: $letter-spacing-wide;
  line-height: 50px;
  text-align: center;
}

.buttons-right {
  display: inline-block;
  text-align: right;
  width: 230px;

  button {
    display: inline-block;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

button {
  height: 50px;
  width: 50px;
}

.flag {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.color-primary {
  color: #0072FF;
}

.blinking-warning-icon {
  font-size: 18px;
  vertical-align: middle;
  color: orange;
  cursor: pointer;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  80% {
    opacity: 0;
  }
}
