<div class="buttons-left">
  <div class="header-sel-theme" style="display: flex;" *ngIf="balanceObtained">
    <button
      class="time-button"
      mat-button
      color="primary"
      [matTooltip]="this.problemUpdatingBalance ? ('header.top-bar.connection-error-tooltip' | translate) : null"
      (click)="refresBalance()">
      <div class="main-container">
        <div class="spinner-container" *ngIf="updatingBalance"><mat-spinner></mat-spinner></div>
        <mat-icon *ngIf="!this.problemUpdatingBalance && !updatingBalance">refresh</mat-icon>
        <mat-icon *ngIf="this.problemUpdatingBalance && !updatingBalance" class="blinking-warning-icon">warning</mat-icon>
        <div class="text-container">
          <div class="first-label">{{ 'header.top-bar.updated1' | translate }}</div>
          <div class="second-label">
            {{ timeSinceLastBalanceUpdate === 0 ? ('header.top-bar.less-than' | translate ) : timeSinceLastBalanceUpdate }} {{ 'header.top-bar.updated2' | translate }}
          </div>
        </div>
      </div>
    </button>
  </div>
  <app-coin-button *ngIf="hasManyCoins" (click)="changeCoin()"></app-coin-button>
</div>

<div class="title">
  {{ headline }}
</div>

<div class="buttons-right">
  <mat-menu #menuMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [routerLink]="['/settings/blockchain']"> {{ 'title.blockchain' | translate}} </button>
    <button mat-menu-item [routerLink]="['/settings/outputs']"> {{ 'title.outputs' | translate}} </button>
    <button mat-menu-item [routerLink]="['/settings/pending-transactions']"> {{ 'title.pending-txs' | translate}} </button>
    <button mat-menu-item [routerLink]="['/settings/node']"> {{ (hasManyCoins ? 'title.nodes' : 'title.node') | translate}} </button>
    <a *ngIf="currentCoin.coinExplorer" mat-menu-item [href]="currentCoin.coinExplorer" class="color-primary">
      {{ 'title.explorer' | translate:{coin: currentCoin.coinName} }}
    </a>
    <div class="separator"></div>
    <div mat-menu-item *ngIf="language" (click)="changelanguage()">
      <img [src]="'assets/img/lang/' + language.iconName" class="flag">
      {{ language.name }}
    </div>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menuMenu">
    <mat-icon>menu</mat-icon>
  </button>
</div>
