<div class="buttons-left">
  <app-coin-button *ngIf="haveManyCoins" (click)="changeCoin()"></app-coin-button>
  <div class="last-updated-time" *ngIf="isBalanceObtained">
    <div class="label">{{ 'header.top-bar.updated1' | translate }}</div>
    <div>
      {{ timeSinceLastBalanceUpdate === 0 ? ('header.top-bar.less-than' | translate ) : timeSinceLastBalanceUpdate }} {{ 'header.top-bar.updated2' | translate }}
      <i *ngIf="!this.isBalanceUpdated"
        class="material-icons blinking-warning-icon"
        [matTooltip]="'header.top-bar.connection-error-tooltip' | translate">
        warning
      </i>
    </div>
  </div>
</div>

<div class="title">
  {{ headline }}
</div>

<div class="buttons-right">
  <mat-menu #menuMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [routerLink]="['/settings/blockchain']"> {{ 'title.blockchain' | translate}} </button>
    <button mat-menu-item [routerLink]="['/settings/outputs']"> {{ 'title.outputs' | translate}} </button>
    <button mat-menu-item [routerLink]="['/settings/pending-transactions']"> {{ 'title.pending-txs' | translate}} </button>
    <a mat-menu-item [href]="currentCoin.coinExplorer" class="color-primary">
      {{ 'title.explorer' | translate:{coin: currentCoin.coinName} }}
    </a>
    <div class="separator"></div>
    <div mat-menu-item *ngIf="language" (click)="changelanguage()">
      <img [src]="'assets/img/lang/' + language.iconName" class="flag">
      {{ language.name }}
    </div>
  </mat-menu>
  <div class="button-container">
    <div class="trigger-container">
      <div #menuTrigger [matMenuTriggerFor]="menuMenu"></div>
    </div>
    <button mat-icon-button (click)="openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>
