@import '../../../../../theme/variables';

:host {
  display: flex;
  color: $white;
  width: 100%;
}

.buttons-left {
  display: inline-block;
  padding: 0 10px;
  width: 205px;
}

.last-updated-time {
  color: #D4E1FD;
  font-size: 11px;
  padding-left: 5px;
}

.title {
  font-size: $font-size-standard;
  font-weight: 700;
  display: inline;
  flex: 1 1 auto;
  letter-spacing: $letter-spacing-wide;
  line-height: 50px;
  text-align: center;
}

.buttons-right {
  display: inline-block;
  text-align: right;
  width: 205px;

  button {
    display: inline-block;
  }
}

button {
  height: 50px;
  width: 50px;
}

.color-primary {
  color: #0072FF;
}

.blinking-warning-icon {
  font-size: 18px;
  vertical-align: middle;
  color: orange;
  cursor: pointer;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  80% {
    opacity: 0;
  }
}
