@import '../../../../../theme/variables';

:host {
  display: flex;
  color: $white;
  width: 100%;
  height: 50px;
}

.buttons-left {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  width: 230px;

  .time-button {
    border-radius: 25px;
    border: rgba(255, 255, 255, 0.733) 1px solid;
    font-size: 12px;
    line-height: 20px;
    height: 36px;
    overflow: hidden;
    margin-bottom: 10px;

    .main-container {
      display: flex;
      align-items: center;

      mat-icon {
        margin-left: 3px;
        width: 22px;
        height: 22px;
        font-size: 22px;
      }

      .spinner-container {
        width: 22px;
        height: 22px;
        margin-left: 3px;

        mat-spinner {
          height: 18px !important;
          width: 18px !important;
          opacity: 0.5;
          margin: 0 !important;
          position: relative;
          top: 2px;

          ::ng-deep svg {
            height: 18px !important;
            width: 18px !important;
          }
        }
      }
    
      .text-container {
        height: 36px;
        margin-left: 8px;
        margin-right: 10px;
        font-size: 11px;
        text-align: left;
  
        .first-label {
          opacity: 0.7;
        }
  
        .second-label {
          position: relative;
          top: -7px;
        }
      }
    }
  }

  .refresh-help-container {
    width: 0px;
    height: 0px;
    overflow: visible;
    position: relative;
    left: 8px;
    top: 8px;

    .inner-container {
      display: flex;

      .arrow-container {
        width: 10px;
        height: 20px;

        .arrow {
          fill:rgba(0, 0, 0, 0.6);
        }
      }

      .text-container {
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        padding: 12px;
        font-size: 12px;

        .text { 
          width: 150px;
          margin-right: 15px;
        }

        .x {
          opacity: 0.5;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.title {
  font-size: 13px;
  font-weight: 700;
  display: inline;
  flex: 1 1 auto;
  letter-spacing: 1px;
  line-height: 50px;
  text-align: center;
}

.buttons-right {
  display: inline-block;
  text-align: right;
  width: 230px;

  button {
    height: 50px;
    width: 50px;
    display: inline-block;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }
}

.separator {
  width: 100%;
  height: 2px;
  background-color: $grey-very-light;
  margin: 8px 0px;
}

.flag {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.color-primary {
  color: $blue;
}

.blinking-warning-icon {
  font-size: 18px;
  vertical-align: middle;
  color: orange;
  cursor: pointer;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  80% {
    opacity: 0;
  }
}
