<app-modal [title]="data.create ? 'createWallet.createWallet' : 'createWallet.loadWallet'" [dialog]="dialogRef">
  <div [formGroup]="form">
    <div class="form-field">
      <label for="label">{{ 'general.name' | translate }}</label>
      <input formControlName="label" id="label">
    </div>
    <div class="form-field -valid-seed-container" [ngClass]="{'-expand':form.get('seed').valid}">
      <label for="seed">{{ 'general.seed' | translate }}</label>
      <div class="-valid-box">
        <textarea formControlName="seed" id="seed" row="2"></textarea>
        <img *ngIf="!data.create" class="-valid" src="../../../../../assets/img/valid.png">
      </div>
    </div>
    <div class="-disclaimer-box" *ngIf="data.create">
      <span class="-disclaimer-text">{{ 'createWallet.walletDisclaimer' | translate }}</span>
    </div>
    <div *ngIf="data.create"
         class="form-field -valid-seed-container"
         [ngClass]="{ '-expand':form.get('confirm_seed').value === form.get('seed').value }">
      <label for="confirm_seed">{{ 'general.confirmSeed' | translate }}</label>
      <div class="-valid-box">
        <textarea formControlName="confirm_seed" id="confirm_seed" row="2"></textarea>
        <img class="-valid" src="../../../../../assets/img/valid.png">
      </div>
    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="closePopup()">
      {{ 'buttons.cancel' | translate }}
    </app-button>
    <app-button (action)="createWallet()" class="primary" [disabled]="!form.valid">
      {{ (data.create ? 'buttons.create' : 'buttons.load') | translate }}
    </app-button>
  </div>
</app-modal>
