@import '../../../../../theme/_variables.scss';

.-buttons {
  text-align: center;
}

.-disclaimer-box{
  margin-bottom: 20px;

  .-disclaimer-text{
    font-family: Skycoin;
    line-height: 20px;
    font-size: 12px;
    color: #FF004E;
    mix-blend-mode: normal;
  }
}

.-valid-box{
  display: flex;

  .-valid{
    bottom: -6px;
    left: -7px;
    position: relative;
    align-self: flex-end;
    display: none;
  }
}

.-valid-seed-container.-expand{
  margin-right: -14px;
  .-valid{
    display: block;
  }
}

label[for=seed] {
  display: flex;

  > span:last-child {
    flex: 1;
  }

  .generators {
    text-align: right;

    span {
      cursor: pointer;
      color: $gradient-blue-dark-transparent;
    }

    mat-icon {
      width: 13px;
      height: 10px;
      font-size: 13px;
      position: relative;
      top: 2px;
    }

    .divider {
      padding: 0 5px;
      color: $grey-normal;
    }
  }
}
