<app-modal title="Create Wallet" [dialog]="dialogRef">
  <div [formGroup]="form">
    <div class="form-field">
      <label for="label">Name</label>
      <input formControlName="label" id="label">
    </div>
    <div class="form-field">
      <label for="seed">Seed</label>
      <textarea formControlName="seed" id="seed" row="2"></textarea>
    </div>
    <div class="-disclaimer-box">
      <span class="-disclaimer-text">Remember this seed! Keep it in a safe place. If you forget your seed, you will not be able to recover your wallet!</span>
    </div>
    <div class="form-field  -valid-seed-container" [ngClass]="{'-expand':form.get('confirm_seed').valid}">
      <label for="confirm_seed">Confirm seed</label>
      <div class="-valid-box">
        <textarea formControlName="confirm_seed" id="confirm_seed" row="2"></textarea>
        <img  class="-valid" src="../../../../../assets/img/valid.png">
      </div>

    </div>
  </div>
  <div class="-buttons">
    <app-button (action)="closePopup()">
      Cancel
    </app-button>
    <app-button (action)="createWallet()" class="primary" [disabled]="!form.valid">
      Create
    </app-button>
  </div>
</app-modal>
